<div class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
  <div class="top-bg"></div>
  <div class="center mt-36">
    <div class="courses" fxLayout="row wrap " fxLayoutAlign="start" [@animateStagger]="{value:'50'}">
      <div class="course" *ngFor="let dev of DeviceDetailsList" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33"
        [@animate]="{value:'*',params:{y:'100%'}}">
        <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
          <div class="content" fxLayout="row" fxLayoutAlign="center" fxFlex="1 1 auto">
            <div fxFlex="70">
              <div fxLayout fxLayoutAlign="center" class="mt-4" fxLayoutGap="5px">
                <div fxFlex>Today</div>
                <div fxFlex>{{dev.TodayOnHours}}</div>
              </div>
              <div fxLayout fxLayoutAlign="center" class="mt-4" fxLayoutGap="5px">
                <div fxFlex>Week</div>
                <div fxFlex>{{dev.WeekOnHours}}</div>
              </div>
              <div fxLayout fxLayoutAlign="center" class="mt-4" fxLayoutGap="5px">
                <div fxFlex>Month</div>
                <div fxFlex>{{dev.MonthOnHours}}</div>
              </div>
              <div fxLayout fxLayoutAlign="center" class="mt-4" fxLayoutGap="5px">
                <div fxFlex>Status</div>
                <div fxFlex>{{dev.Status}}</div>
              </div>
            </div>
            <div fxFlex="30" class="mt-56 pl-8">
              <img src="/assets/images/demo/gear.png" class="mr-8">
              <img src="/assets/images/demo/question.png">
            </div>
          </div>
          <div class="podium"></div>
        </div>
      </div>
    </div>
  </div>
</div>