:host {

    .folded:not(.unfolded) & {

        .nav-link {
            border-radius: 20px;
            margin: 0 12px;
            padding: 0 12px;

            > .nav-link-title,
            > .nav-link-badge {
                opacity: 0;
                transition: opacity 200ms ease;
            }
        }
    }
}
